openapi: 3.0.3
info:
  title: Coinbase Advanced Trading API
  description: OpenAPI 3.x specification for Coinbase Adavanced Trading
  version: 1.0.0
servers:
  - url: 'https://api.coinbase.com/api'
    description: Coinbase Advanced Trading API

externalDocs:
  description: Coinbase Advanced Trading Docs
  url: https://docs.cloud.coinbase.com/advanced-trade-api/docs/welcome
tags:
  - name: coinbaseAdv
    description: Coinbase Advanced Trading
security:
  - bearerAuth: []

paths:
  "/api/v3/brokerage/accounts":
    get:
      deprecated: false
      description: List accounts for the user
      operationId: ListAccounts
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            format: int32
        - in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: ListAccounts
      tags:
        - coinbaseAdv

  "/api/v3/brokerage/accounts/{uuid}":
    get:
      deprecated: false
      description: Get account by uuid
      operationId: GetAccount
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: GetAccount
      tags:
        - coinbaseAdv

  "/api/v3/brokerage/orders/historical/{order_id}":
    get:
      deprecated: false
      description: Get order
      operationId: GetOrder
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: GetOrder
      tags:
        - coinbaseAdv


  "/api/v3/brokerage/orders/historical/batch":
    get:
      deprecated: false
      description: Get historcal orders
      operationId: ListOrders
      parameters:
        - in: query
          name: product_id
          schema:
            type: string
        - in: query
          name: order_status
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrderStatus'
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: user_native_currency
          schema:
            type: string
        - in: query
          name: order_type
          schema:
            type: string
        - in: query
          name: order_side
          schema:
            type: string
        - in: query
          name: product_type
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: ListOrders
      tags:
        - coinbaseAdv

  "/api/v3/brokerage/orders/historical/fills":
    get:
      deprecated: false
      description: Get historcal fills
      operationId: ListFills
      parameters:
        - in: query
          name: order_id
          schema:
            type: string
        - in: query
          name: product_id
          schema:
            type: string
        - in: query
          name: start_sequence_timestamp
          schema:
            type: string
        - in: query
          name: end_sequence_timestamp
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFillsResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: ListFills
      tags:
        - coinbaseAdv

  "/api/v3/brokerage/orders":
    post:
      deprecated: false
      description: Create new order
      operationId: CreateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: CreateOrder
      tags:
        - coinbaseAdv

  "/api/v3/brokerage/orders/batch_cancel":
    post:
      deprecated: false
      description: Cancel orders
      operationId: CancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: CancelOrder
      tags:
        - coinbaseAdv

  "/v2/prices/{currency_pair}/{side}":
    get:
      deprecated: false
      description: Get price
      operationId: GetPrice
      parameters:
        - in: path
          name: currency_pair
          required: true
          schema:
            type: string
        - in: path
          name: side
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceResponse'
          description: OK
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '403':
          content:
            text/plain:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            text/plain:
              schema:
                type: string
          description: Not Found
      summary: GetPrice
      tags:
        - coinbaseAdv


components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer

  schemas:
    GetPriceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            amount:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            currency:
              type: string

    GetOrderResponse:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'

    CancelOrderResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              success:
                type: boolean
              failure_reason:
                type: string
              order_id:
                type: string

    CancelOrderRequest:
      type: object
      properties:
        order_ids:
          type: array
          items:
            type: string


    CreateOrderResponse:
      properties:
        success:
          type: boolean
        failure_reason:
          type: string
        order_id:
          type: string
        success_response:
          type: object
          properties:
            order_id:
              type: string
            product_id:
              type: string
            side:
              type: string
            client_order_id:
              type: string
        error_response:
          type: object
          properties:
            error:
              type: string
            message:
              type: string
            error_details:
              type: string
            preview_failure_reason:
              type: string
            new_order_failure_reason:
              type: string
        order_configuration:
          $ref: '#/components/schemas/OutputOrderConfiguration'

    CreateOrderRequest:
      properties:
        client_order_id:
          type: string
        product_id:
          type: string
        side:
          type: string
        order_configuration:
          type: object
          properties:
            # Note: CB API expects strings for the values
            market_market_ioc:
              type: object
              properties:
                quote_size:
                  type: string
                base_size:
                  type: string
            limit_limit_gtc:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                post_only:
                  type: boolean
            limit_limit_gtd:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                end_time:
                  type: string
                post_only:
                  type: boolean
            stop_limit_stop_limit_gtc:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                stop_price:
                  type: string
                stop_direction:
                  type: string
            stop_limit_stop_limit_gtd:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                stop_price:
                  type: string
                end_time:
                  type: string
                stop_direction:
                  type: string


    ListFillsResponse:
      properties:
        fills:
          type: array
          items:
            $ref: '#/components/schemas/OrderFill'
        cursor:
          type: string

    ListOrdersResponse:
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        sequence:
          type: integer
          x-go-srctype-tag:
            - string
        has_next:
          type: boolean
        cursor:
          type: string

    OrderFill:
      type: object
      properties:
        entry_id:
          type: string
        trade_id:
          type: string
        order_id:
          type: string
        trade_time:
          type: string
        trade_type:
          type: string
        price:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        size:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        commission:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        sequence_timestamp:
          type: string
        liquidity_indicator:
          type: string
        size_in_quote:
          type: boolean
        product_id:
          type: string
        user_id:
          type: string
        side:
          type: string

    Order:
      type: object
      properties:
        order_id:
          type: string
        product_id:
          type: string
        user_id:
          type: string
        order_configuration:
          $ref: '#/components/schemas/OutputOrderConfiguration'
        side:
          type: string
        client_order_id:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        time_in_force:
          type: string
        created_time:
          type: string
        completion_percentage:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        filled_size:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        average_filled_price:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        fee:
          type: string
        number_of_fills:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        filled_value:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        pending_cancel:
          type: boolean
        size_in_quote:
          type: boolean
        total_fees:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        size_inclusive_of_fees:
          type: boolean
        total_value_after_fees:
          type: number
          format: double
          x-go-srctype-tag:
            - string
        trigger_status:
          type: string
        order_type:
          type: string
        reject_reason:
          type: string
        settled:
          type: boolean
        product_type:
          type: string
        reject_message:
          type: string
        cancel_message:
          type: string

    OutputOrderConfiguration:
      type: object
      properties:
        market_market_ioc:
          type: object
          properties:
            quote_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            base_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
        limit_limit_gtc:
          type: object
          properties:
            base_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            limit_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            post_only:
              type: boolean
        limit_limit_gtd:
          type: object
          properties:
            base_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            limit_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            end_time:
              type: string
            post_only:
              type: boolean
        stop_limit_stop_limit_gtc:
          type: object
          properties:
            base_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            limit_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            stop_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            stop_direction:
              type: string
        stop_limit_stop_limit_gtd:
          type: object
          properties:
            base_size:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            limit_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            stop_price:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            end_time:
              type: string
            stop_direction:
              type: string


    OrderStatus:
      type: string
      enum:
        - OPEN
        - FILLED
        - CANCELLED
        - EXPIRED
        - FAILED

    OrderType:
      type: string
      enum:
        - MARKET
        - LIMIT
        - STOP
        - STOP_LIMIT

    OrderSide:
      type: string
      enum:
        - UNKNOWN_ORDER_SIDE
        - BUY
        - SELL

    ProductType:
      type: string
      enum:
        - SPOT

    StopDirection:
      type: string
      enum:
        - UNKNOWN_STOP_DIRECTION
        - STOP_DIRECTION_STOP_UP
        - STOP_DIRECTION_STOP_DOWN

    FailureReason:
      type: string
      enum:
        - UNKNOWN_FAILURE_REASON
        - UNSUPPORTED_ORDER_CONFIGURATION
        - INVALID_SIDE
        - INVALID_PRODUCT_ID
        - INVALID_SIZE_PRECISION
        - INVALID_PRICE_PRECISION
        - INSUFFICIENT_FUND
        - INVALID_LEDGER_BALANCE
        - ORDER_ENTRY_DISABLED
        - INELIGIBLE_PAIR
        - INVALID_LIMIT_PRICE_POST_ONLY
        - INVALID_LIMIT_PRICE
        - INVALID_NO_LIQUIDITY
        - INVALID_REQUEST
        - COMMANDER_REJECTED_NEW_ORDER
        - INSUFFICIENT_FUNDS

    PreviewFailureReason:
      type: string
      enum:
        - UNKNOWN_PREVIEW_FAILURE_REASON
        - PREVIEW_MISSING_COMMISSION_RATE
        - PREVIEW_INVALID_SIDE
        - PREVIEW_INVALID_ORDER_CONFIG
        - PREVIEW_INVALID_PRODUCT_ID
        - PREVIEW_INVALID_SIZE_PRECISION
        - PREVIEW_INVALID_PRICE_PRECISION
        - PREVIEW_MISSING_PRODUCT_PRICE_BOOK
        - PREVIEW_INVALID_LEDGER_BALANCE
        - PREVIEW_INSUFFICIENT_LEDGER_BALANCE
        - PREVIEW_INVALID_LIMIT_PRICE_POST_ONLY
        - PREVIEW_INVALID_LIMIT_PRICE
        - PREVIEW_INVALID_NO_LIQUIDITY
        - PREVIEW_INSUFFICIENT_FUND
        - PREVIEW_INVALID_COMMISSION_CONFIGURATION
        - PREVIEW_INVALID_STOP_PRICE
        - PREVIEW_INVALID_BASE_SIZE_TOO_LARGE
        - PREVIEW_INVALID_BASE_SIZE_TOO_SMALL
        - PREVIEW_INVALID_QUOTE_SIZE_PRECISION
        - PREVIEW_INVALID_QUOTE_SIZE_TOO_LARGE
        - PREVIEW_INVALID_PRICE_TOO_LARGE
        - PREVIEW_INVALID_QUOTE_SIZE_TOO_SMALL
        - PREVIEW_BREACHED_PRICE_LIMIT
        - PREVIEW_BREACHED_ACCOUNT_POSITION_LIMIT
        - PREVIEW_BREACHED_COMPANY_POSITION_LIMIT
        - PREVIEW_INVALID_MARGIN_HEALTH
        - PREVIEW_RISK_PROXY_FAILURE


    ListAccountsResponse:
      properties:
        has_next:
          type: boolean
        cursor:
          type: string
        size:
          type: integer
          format: int32
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'

    Account:
      type: object
      properties:
        uuid:
          type: string
        name:
          type: string
        currency:
          type: string
        available_balance:
          type: object
          properties:
            value:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            currency:
              type: string
        default:
          type: boolean
        active:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
          format: nullable
        type:
          type: string
        ready:
          type: boolean
        hold:
          type: object
          properties:
            value:
              type: number
              format: double
              x-go-srctype-tag:
                - string
            currency:
              type: string
